:root{--white-color: #ffffff;
--button-aside-color:#393e49;
--grey-color:#30343f;
--blue-color: #191e2b;
--black-color:   #141313;
--aside-color: #252935;
--font-family-type:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif }

*{margin: 0%;
padding: 0%;
box-sizing: border-box;
text-decoration: none;
list-style: none;
border: none;
font-family: var(--font-family-type);
color:var(--white-color);}
.on{
    display: block;
}
.d-none{
    display: none;
}
 /*header*/
header{background-color: var(--blue-color);
    width: 100%;
height: 120px;
text-align: center;
position: relative;}

.header__h1{text-transform: capitalize;
    padding: 1%;
    font-size: 2rem;
}
.header__button{
    padding: 2%;
    font-size: 1rem;
    background-color: transparent;
    text-transform: capitalize;
}


/*main*/

.main__section{
    background-color:var(--grey-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__div--black{
    background-color: var(--white-color);
    height: 100px;
    width: 610px;
}
.main__h2{
    color: var(--blue-color);
    text-align: center;
    font-size: 2rem ;
    margin:5%;
    text-transform: uppercase;
}

.main__div--center{
    background-color: var(--black-color);
    height: 350px;
    width: 610px;
}
.main__button{
    background-color: #008000;
    padding: 1%;
    margin-top: 20px;
}
/*aside*/
/*general*/
aside{background-color:var(--aside-color); 
    width: 260px;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    text-transform: uppercase;
}
.aside__section{padding: 5%;
margin-bottom: 5%;    
}

.aside__button--x{position: fixed;
    top: 0px;
    right: 0px;
    margin: 1%;
    background-color: transparent;
}
.aside__button--x i{color: var(--white-color);
font-size: 1rem;
}
.aside__h3{
    text-align: center;
    margin: 10%;
}
.aside__div{
    margin: 3px;
    width: 100%;
    font-size: 1rem;
}
.aside__h4{
    margin-bottom: 5px;
}
.aside__box{background-color:var(--button-aside-color);
    width:100%;
    margin:2px;
padding: 0% 2%;
font-size: 1rem;
text-transform: capitalize;}
/*aside type image*/

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background-color:var(--button-aside-color);
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color:var(--white-color);
    margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background-color: #c9c1c1;
}

/*aside type text*/
.aside__radio{
    font-size: 0.7rem;    
}
.aside__input--color{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    width: 45%;
}
.aside__select{
width: 45%;
padding: 3%;
}

.aside__filter{width: 80%;
    margin-top: 6%;   
}

.aside__button{padding: 5%;
    text-transform: capitalize;
    background-color: var(--button-aside-color);
    color:var(--white-color)}

.aside__div--button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2px;
}
.aside__div--article{
display: flex;
justify-content: space-between;
flex-wrap: nowrap;
align-items: center;}
.aside__div--article article{
    width:50%;
    padding: 2%;
}

/*Monitors 1280*/
@media(max-width:1280px){
    aside{ display: none;}
}

/*tablets*/
@media(max-width: 681px){
    .main__div--black{
        color: red;
        width: 460px;
        transition: all 0.3s linear 0s;
    }
    .main__div--center{
        width: 460px;
        transition: all 0.3s linear 0s;
    }
}

/*smalls smarthphones*/
@media (max-width: 480px){
    .main__div--black {width: 300px;
    height: auto;transition: all 0.3s linear 0s;}
    .main__div--center{width: 300px;
    height: 250px;transition: all 0.3s linear 0s;}
    
}

@media (max-width: 320px){
    .main__div--black{width:180px;
        height: 50px;
        transition: all 0.3s linear 0s;

    } .main__div--center{
        width: 180px;
        height: 200px;
        transition: all 0.3s linear 0s;
    }
}

/*button{background-color: #393e49;}
/*button:hover {{#4e5565}}*/

