/*GENERAL STYLES*/

:root{
    --text-color: #ffffff;
    --button-aside-color:#393e49;
    --button-hover: #4e5565;
    --background-color: #30343f;
    --color-header: #191e2b;
    --black-color:   #141313;
    --aside-color: #252935;
    --font-family-type:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif }

[data__theme="ligth__mode"]{
    --text-color: #424242;
    --button-aside-color: #e0e0e0;
    --button-hover: #bdbdbd;
    --background-color: #eeeeee;
    --color-header: #e0e0e0;
    --aside-color: #fafafa;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: var(--font-family-type);
    color:var(--text-color);}

.on{
    display: block;
}
.d-none{
    display: none;
}

/*SECTIONS*/

 /*HEADER*/
header{
    background-color: var(--color-header);
    width: 100%;
    height: 120px;
    text-align: center;
    position: relative;}

.header__h1{
    text-transform: capitalize;
    padding: 1%;
    font-size: 2rem;
}
.header__div{
    display: flex;
    justify-content:center;
    align-items: center;
}
.header__button{
    padding: 5px;
    font-size: 1rem;
    background-color: transparent;
    text-transform: capitalize;
    color: var(--text-color);
}

/*MAIN*/

.main__section{
    background-color:var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 650px;
}
#div__mi--meme{
    width: 610px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main__tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100px;
    width: 610px;
    color: var(--black-color);
    text-align: center;
    font-size: 2rem ;
    padding: 35px 50px;
    position: static;
}
.main__div--center{
    background-color: var(--black-color);
    background-size: 100% 100%;
    flex-grow: 1;
}
.main__blackBottom{
    bottom: 0;
}
.main__button{
    background-color: #008000;
    padding: 1%;
    position: absolute;
    top:700px
}
.main__button:focus{
    background-color: #4cb34c;
}

/*ASIDE*/
/*GENERAL*/
aside{
    background-color:var(--aside-color); 
    width: 260px;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    z-index: 10;
    text-transform: uppercase;
}
.aside__section{
    padding: 30% 5%;
    margin-bottom: 20%;    
}

.aside__button--x{
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 3%;
    background-color: transparent;
}
.aside__button--x i{
    color: var(--text-color);
    font-size: 1rem;
}
.aside__h3{
    text-align: center;
    margin: 10%;
}
.aside__div{
    margin: 3px;
    width: 100%;
    font-size: 1rem;
}
.aside__h4{
    margin-bottom: 5px;
}
.aside__box{
    background-color:var(--button-aside-color);
    width:100%;
    margin:2px;
    padding: 0% 2%;
    font-size: 1rem;
    text-transform: capitalize;}


/*ASIDE SECTION IMAGE*/

input[type=color]{
    padding: 2px;
}
button:hover{
    color: var(--button-hover);
}
input:focus{
    color: var(--text-color);
}
input[type=range]{
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background-color:var(--button-aside-color);
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color:var(--text-color);
    margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background-color: #c9c1c1;
}

/*ASIDE SECTION TEXT*/

.aside__radio{
    font-size: 0.7rem;    
}
.aside__input--color{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    width: 45%;
}
.aside__select{
    width: 45%;
    padding: 3%;
}

.aside__filter{
    width: 80%;
    margin-top: 6%;   
}

.aside__button{
    padding: 5%;
    margin-top: 3%;
    text-transform: capitalize;
    background-color: var(--button-aside-color);
    color:var(--text-color)}

.aside__div--button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2px;
}
.aside__div--article{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;}

.aside__radio{
    width: 100%;
}

.aside__div--article article{
    width:50%;
    padding: 2%;
}
.hidden{
    display: none;
}

/*Media queris*/

/*tablets*/
@media(max-width: 681px){
    *{
        max-width: 100%;
    }
    #div__mi--meme{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main__tittle{
        width: 460px;
        transition: all 0.1s linear 0s;
    }
    .main__div--center{
        width: 460px;
        transition: all 0.1s linear 0s;
    }
    aside{
        width: 100%;
    }
    .main__blackTop{
        top:120px
    }
}

/*smalls smarthphones*/
@media (max-width: 480px){
    
    .main__tittle {
        width: 300px;
        height: auto;
        transition: all 0.1s linear 0s;
    }
    .main__div--center{
        width: 300px;
        height: 250px;
        transition: all 0.1s linear 0s;}
    .main__button{
        top:700px}
    .main__tittle{
        font-size: 1rem;
        }
}

@media (max-width: 320px){
    .main__tittle{
        width:180px;
        height: 50px;
        transition: all 0.1s linear 0s;
        font-size: 1rem;
} 
    .main__div--center{
        width: 180px;
        height: 200px;
        transition: all 0.1s linear 0s;
    }
    .main__button{
        top:700px
    }
    .main__tittle{
        font-size: 0.7rem;
        }
}

